/***************************
HTML,BODY,HEADER,NAV,WRAPPER,FOOTER
***************************/
body{
	background: url('/graphics/codebg.png');

}
h1{
	color:#FFD900;
	font-size: 1.8em;
}
h2{
	color:#00CCD6;
	font-size: 1.6em;
}
h3{
	color:#ffd900;
	font-size:4.5em;
}
p{
	font-family: 'Indie Flower';
	font-size: 1.25em;
}
#wrapper{
	background: url('/graphics/drawingme.jpg') no-repeat center center;
	width:90%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
header{
	width:100%;
	height:auto;
	padding:.5%;
	background:#2D2D2D;
	color:white;
	font-family: 'Indie Flower', cursive;
}
header ul li h1,h2{
	display:inline;
	margin-right:1%;
}
header ul li{
	list-style:none;
	display:inline;
}
header img:hover{
	width:47px;
	height:47px;
}
nav{
	text-align: center;
	vertical-align: center;
}
nav a{
	color:#00CCD6;
	font-size:1.4em;
	margin-right:1%;
}
nav a:hover{
	font-weight: bold;
}
.selected{
	color:#FFD900;

}
header p{
	font-size: 1.2em;
}

footer{
	background-color:rgba(0,151,211,.9);
	width:100%;
	height:auto;
	padding:.5%;
}
footer p,pre{
	color:white;
	font-family:'Indie Flower';
	font-size:1.25em;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.left{
	margin-left:-2%;
}
.right{
	float:right;
}

/****************
FORMS
****************/
form {width: 375px; margin-left:auto; margin-right: auto;}
form tr {
    border: 1px solid #CCC;
    background: #f4f3f2;
}
form table {width: 375px;}
form th {
    width: 85px;
    border-right: 1px solid #CCC;
    vertical-align: middle;
    padding: 8px;
}
form td {
    padding: 15px 15px;
}
form td select,
form td input,
form td textarea {
    width: 100%;
}
form input[type="submit"] {
    width: 375px;
    text-align: center;
    border: 1px solid #8e8e46;
    background: #2d2d2d;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
}

/****************
CUSTOM
****************/
.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border:5px solid #00ccd6;
	}
.copyright{
	font-weight:bold;
	font-size:2em;
}
.convo{
	font-family: 'Indie Flower', cursive;
	color:black;
	font-weight: bold;
	padding: 1%;
}
/****************
GLOBAL STYLES
****************/
a{
	text-decoration: none;
}
