/***************************
HTML,BODY,HEADER,NAV,WRAPPER,FOOTER
***************************/
body{
	background-color:#424242;
}
h1{
	color:#FFD900;
	font-size: 1.8em;
}
h2{
	color:#00CCD6;
	font-size: 1.6em;
}
#wrapper{
	background: url('/graphics/drawingme.JPG') no-repeat center center;
	width:90%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}
header{
	width:100%;
	height:auto;
	padding:1%;
	background:rgba(1,1,1,.5);
	color:white;
	font-family: 'Indie Flower', cursive;
}
header ul li h1,h2{
	display:inline;
	margin-right:1%;
}
header ul li{
	list-style:none;
	display:inline;
}
nav{
	text-align: center;
	vertical-align: center;
}
nav a{
	color:#00CCD6;
	font-size:1.4em;
	margin-right:1%;
}
nav a:hover{
	font-weight: bold;
}
.selected{
	color:#FFD900;

}
header p{
	font-size: 1.2em;
}

footer{
	background-color:rgba(65, 212, 207, .2);
	width:100%;
	height:25%;
}
.text-right{
	text-align: right;
}
.left{
	margin-left:-2%;
}
/****************
GLOBAL STYLES
****************/
a{
	text-decoration: none;
}
